<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>API Documentation</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<header>
		<h1>API pedidos</h1>
	</header>
	<main>
		<section>
			<h2>Endpoints</h2>
			<ul>
				<li>
					<h3>GET /1.0/resource</h3>
					<p>Descripcion de lo que hace</p>
					<pre><code>curl -X GET https://localhost:3002/1.0/resource</code></pre>
					<p>Parameters:</p>
					<ul>
						<li><code>param1</code>: Descripcion del param 1.</li>
						<li><code>param2</code>: Descripcion del param 2.</li>
					</ul>
					<p>Response:</p>
					<pre><code>{ "key": "value" }</code></pre>
				</li>
				<!-- Repetir para lo otros endpoints-->
			</ul>
		</section>
	</main>
</body>

</html>
